body{
  background-color: #F4BA0E;
}

h2 {
  color: black;
  font-family: 'Roboto', sans-serif;
  color: #006d59;
}

a {
  overflow-wrap: break-word;
}

span span {
    animation: blur 2s ease-out infinite;
}

.collapsible-header {
  align-items: right;
}

.login-header-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-content: flex-start;
  margin-top: 10%;
}

@keyframes alert {
    0%   { border-color: #F7B902; }
    50%  { border-color: #F30202; }
    75%  { border-color: #F7B902; }
    100% { border-color: #F7B902; }
}

.full-map {
    max-height: 55% !important;
    border: 15px solid green;
    position: relative;
}

.full-map-alert {
    border: 15px solid red;
    animation: alert 1s infinite !important;
    position: relative;
}


.leaflet-map {
  max-height: 50%;
}

.fires-container {
  position: absolute;
  z-index: 10;
  right: 2%;
  top: 3%;
  width: 20%;
  max-height: 75%;
  overflow-y: auto;
  padding: 5px;
}

.fire-card {
  background-color: #ffe0b2;
  font-style: 'Roboto';
  font-size: 12pt;
  opacity: 80%;
  padding: 1em;
  margin-top: 4px;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 2px #fff,
      0px 0px 2px #fff,
      0px 2px 5px #fff,
      0px 5px 10px red,
      0px -5px 10px red;
  }
}

.menu-container {
  position: absolute;
  z-index: 10;
  left: 3%;
  top: 3%;
  width: 20%;
}

.menu-header {
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
}

.isolated-item {
  margin-right: 10%;
}

.logos-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  z-index: 10;
  right: 5%;
  bottom: 8%;
  width: 15%;
  height: 12%;
}

.logos-container img {
  max-width: 60%;
  max-height: 60%;
  padding: 2%;
}

.logos-container-map {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2%;
  z-index: 10;
  right: 5%;
  bottom: 3%;
  width: 15%;
  height: 12%;
  padding: 5px;
}

.logos-container-map img {
  max-width: 60%;
  max-height: 60%;
  padding: 2%;
}

.username {
  font-size: 14pt;
  font: 'Roboto';
  color: white;
}

.username-box {
  padding: 7px 15px;
  border-radius: 5px;
}

.fire-data li {
  font-size: 11pt;
}

.menu-list {
  position: absolute;
  margin-top: 8%;
  opacity: 70%;
  width: 80%;
  display: none;
}

.right-aligned {
  text-align: right;
}

.collapsible-body {
  background-color: #eceff1;
}

.collapsible-header {
  color: #b71c1c;
}

.styled-icon {
  filter: invert();
}

.square-btn {
  vertical-align: bottom !important;
}

#login-container {
  display: grid;
  padding-top: 15%;
  padding-left: 2%;
  grid-template-columns: 1fr 1fr;
}

#cba {
  min-height: calc(100vh - 30px);
  max-height: calc(100vh - 30px);
  width: 100%;
  z-index: 0;
}
